@page "/"
@inherits TaxLogsBase

@if (TaxCalculatorLogs == null && ErrorMessage == null)
{
    <DisplaySpinner />

}
else if (ErrorMessage != null)
{
    <DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
}
else
{
    <h3 class="mb-5">Tax log items</h3>

    var taxLogCount = TaxCalculatorLogs.Count();
    var logRowList = new List<TaxCalculatorLogDisplayDto>();


    logRowList = TaxCalculatorLogs.ToList();

    <div class="container">
        <h3 class="p-3 text-center">List of tax log items</h3>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Date Added</th>
                    <th>Postal Code</th>
                    <th>Annual Income</th>
                    <th>Tax Paid</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in logRowList)
                {
                    <tr>
                        <td>@item.DateAdded.ToShortDateString()</td>
                        <td>@item.PostalCode</td>
                        <td>@item.AnnualIncome</td>
                        <td>@item.TaxedValue</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>



}