@page "/"
@inherits TaxLogsBase

@if (TaxCalculatorLogs == null && ErrorMessage == null)
{
    <DisplaySpinner>Loading stored tax logs.....</DisplaySpinner>

}
else if (ErrorMessage != null)
{
    <DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
}
else
{
    <EditForm Model="@taxCalculatorUpdater" OnValidSubmit="@HandleValidSubmit">

        Postal Code: <InputText id="postalCode" @bind-Value="taxCalculatorUpdater.PostalCode" />
        Annual Income: <InputNumber id="annualIncome" @bind-Value="taxCalculatorUpdater.AnnualIncome" />

        <button class="btn btn-primary" type="submit">Submit</button>
    </EditForm>


    <div class="container">
        <h3 class="p-3 text-center">List of valid tax entry requests</h3>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Date Added</th>
                    <th>Postal Code</th>
                    <th>Annual Income</th>
                    <th>Tax Paid</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in TaxCalculatorLogs.ToList())
                {
                    <tr>
                        <td>@item.DateAdded.ToShortDateString()</td>
                        <td>@item.PostalCode</td>
                        <td>@item.AnnualIncome</td>
                        <td>@item.TaxedValue</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @code {
    private TaxCalculatorLogUpdateDto taxCalculatorUpdater = new();


    private void HandleValidSubmit()
    {
        AddLogItem_Click(taxCalculatorUpdater);

    }
}

}